<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.alphap">

    <!-- permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE"/>


    <!-- features -->
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- meta data -->
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".bluetoothmode.StartScreenActivity"> </activity>

        <!-- google play games -->
        <activity
            android:name=".MainActivity"
            android:allowBackup="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- eddie -->
        <!--<activity android:name=".eddie.SwipeActivity" />-->
        <activity android:name=".swipefunction.GamePlay" />


        <!-- asia -->
        <activity android:name=".bluetoothmode.HostGameActivity" />
        <activity android:name=".bluetoothmode.HotPotato" />
        <activity android:name=".bluetoothmode.JoinedPlayerActivity" />
        <activity android:name=".bluetoothmode.GamePlayActivity" />
        <activity android:name=".shakefunction.ShakeActivity" />
        <activity android:name=".splashscreen.TaterSplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>